*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex ;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content{
  display: flex;
  align-items: end;
  column-gap: 30px;
  max-width: 1140px;
}

.content__list-container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow-y: scroll;
  max-height: 296px;
  width: 390px;
  margin-top: 26px;
}

.content__list{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.content__video-card{
  display: flex;
  align-items: flex-start;
  
}
.content__video-card-thumbnail{
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container{
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
 
}
.content__video-card-description{
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  font-weight: 400;
}

.content__details {
  width: 100%;
  height: 100%;
}
.content__card-link{
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer
}
.content__card-link:active{
  background-color: #545050;
}
.content__card-link:hover{
  text-decoration: underline;
}
.content__card-link:focus{
  border: 0;
}
.content__card-link:focus-visible{
  outline: 1px solid white;
}
.content__card-link_current{
  background-color: #1B1919;
}
.content__list-item{
  padding: 0 3px;
}
.content__video-card-title{
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
  
}

.title{
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  font-family: Oswald;
  
}
.content__accent{
  color: #545050;
}


.search-form{
  display: flex;
  column-gap: 40px;
  margin-top: 16px;
  justify-content: space-between;
  align-items: start ;
  margin-bottom: 9px;
}
.search-form__fieldset-title{
  font-size: 18px;
  font-weight: 400;
}
.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

.search-form__fieldset{
  border: 0;
}

.result__video-container{
  width: 711px;
  height: 386px;
  
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label{
  display: flex;
  align-items:center;
  width: fit-content;
  gap: 5px;
}
.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__textfield{
  color: #fff;
  width: 225px;
  height: 27px;
  background-color: inherit;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left:1px solid transparent;
  border-right:1px solid transparent;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  cursor: pointer
}
.search-form__textfield:focus{
  outline: none;
}

.search-form__textfield::placeholder{
  color: rgb(255 255 255 / 0.7) ;
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  background-color: inherit;
  border: 1px solid white;
  padding: 1px;
  cursor: pointer
  
}

.search-form__pseudo-checkbox::after{
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}
.search-form__label:hover  .search-form__label-text{
  text-decoration: underline ;

}

.button{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer
}

.search-form__submit-button{
  width: 194px;
  height: 34px;
  border: 1px solid white;
  align-self: end;
}

.more-button{
  border: 1px solid white;
  min-height: 34px;
  
}

.button:hover{
  text-decoration: underline;
}

.button:active{
  background-color: #545050 ;
}
.button:focus{
  border: 0;
}

.button:focus-visible{
  border: 1px solid white;
  outline: 1px solid white;
  outline-offset: 1px;      
}
.result__video-container{
  position: relative;
}
.content__list-container{
  position: relative;
}