*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 390px;
  max-height: 296px;
  margin-top: 26px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}
.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.content__details {
  width: 100%;
  height: 100%;
}
.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  border: 0;
}
.content__card-link:focus-visible {
  outline: 1px solid white;
}
.content__card-link_current {
  background-color: #1b1919;
}
.content__list-item {
  padding: 0 3px;
}
.content__video-card-title {
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 40px;
  margin-top: 16px;
}
.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: 0;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
  appearance: none;
}
.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
  background-color: inherit;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
  border: 1px solid white;
}

.more-button {
  min-height: 34px;
  border: 1px solid white;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}
.button:focus {
  border: 0;
}

.button:focus-visible {
  border: 1px solid white;
  outline: 1px solid white;
  outline-offset: 1px;
}
.result__video-container {
  position: relative;
}
.content__list-container {
  position: relative;
}
